html, body, main {
  height: 100%;
}

:root {
  --clockBorder: black;
  --clockBackGround: white;
  --lastHandColor: red;
  --startButtonColor: #fa5a5a;
  --startButtonShadow: #E04342;
}

/* header */
h1 {
  text-align: center;
}

/* 타이머 세팅 */
.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.setting__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.setting__time-input input {
  width: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

input[type=number]::-webkit-outer-spin-button{-webkit-appearance: none;margin: 0;}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}

button {
  background-color: var(--startButtonColor);
  color: white;
  margin: 5px;
  padding: 8px 18px;  
  font-size: 1.2rem;
  box-shadow:0px 4px 0px var(--startButtonShadow);
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.start {
  padding: 1rem 2rem;;
}

.reset {
  background-color: #f0d264;
  box-shadow:0px 4px 0px #D1B757;
  padding: 1rem 2rem;;
}

.up-0, .up-5, .up-10, .up-15 {
  background-color: #82c8a0;
  box-shadow:0px 4px 0px #87a86f;
}

button:active {
  box-shadow: 0 0 var(--startButtonColor); background-color: var(--startButtonColor);
}

.ani-stop {
  animation-play-state:paused;
}

/* 시계 */
.clock {
  width: 40%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border: 1px solid var(--clockBorder);
  border-radius: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 외부 원 */
.clock__circle {
  width: 90%;
  aspect-ratio: 1/1;
  border: 1px solid var(--clockBorder);
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 내부 원 */
.clock__inner-1, .clock__inner-2 {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  background-color: var(--clockBackGround);
  z-index: 1;
}

.clock__inner-2 {
  width: 80%;
  z-index: 3;
  /* background-color: pink; */
  /* animation: pulse 2s infinite; */
}

/* 고정 눈금 */
.clock__scale-line {
  height: 95%;
  border: 1px solid black;
  position: absolute;
  top: 2.5%;
}

.progress__bar {
  width: 75%;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  z-index: 5;

}

.progress__hand {
  position: absolute;
  width: 1px;
  height: calc(50%);
  top: 0; 
  left: calc(50% - 1px / 2);
  background: rgb(255, 57, 50);
  z-index: 5;
  transform-origin: bottom;
}

.progress__hand:last-child {
  background-color: var(--lastHandColor);
}

.progress-number {
  width: 30%;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  z-index: 7;
}


/* Test */
.timer {
  background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
  /* background: -webkit-linear-gradient(left, #eee 50%, skyBlue 50%); */
  /* Foreground color, Background colour */
  border-radius: 100%;
  height: 100px;
  /* Height and width */
  position: relative;
  width: 100px;
  /* Height and width */
  animation-name: time;
  animation-duration: 20s;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
}
.mask {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
 
  animation-name: mask;
  animation-duration: 20s;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  /* Animation time and number of steps (halved) */
  -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes mask {
  0% {
      background: #eee;
      /* Background colour */
      -webkit-transform: rotate(0deg);
  }
  50% {
      background: #eee;
      /* Background colour */
      -webkit-transform: rotate(-180deg);
  }
  50.01% {
      background: skyBlue;
      /* Foreground colour */
      -webkit-transform: rotate(0deg);
  }
  100% {
      background: skyBlue;
      /* Foreground colour */
      -webkit-transform: rotate(-180deg);
  }
}